<div class="row">
  <div class="col-sm-8">
    <app-welcome></app-welcome>
    <div class="row">
      <div class="col-sm-4">
        <app-service [service]="servicesSections.serviceBiblio"></app-service>
      </div>
      <div class="col-sm-4">
        <app-service [service]="servicesSections.serviceBolsa"></app-service>
      </div>
      <div class="col-sm-4">
        <app-service [service]="servicesSections.serviceCorreo"></app-service>
      </div>
    </div>
    <div class="card mt-4">
      <div class="card-body">
        <h4 class="card-title">Eventos y Noticias</h4>
        <app-event
        *ngFor="let event of events" 
        [event]="event">
        </app-event>  
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <app-schedule></app-schedule>
    <div class="mt-4">
      <app-service [service]="servicesSections.serviceTutoriales"></app-service>
    </div>
  </div>
</div>