<div class="row">
  <div class="col-sm-8">

    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">Hola</h5>
        <p class="card-text">Txt</p>
        
      </div>
    </div>

    <div class="card-deck">
      <div class="card">
        <div class="card-body"> 
          <app-service [service] = "servicesSections.serviceBiblio"></app-service>          
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <app-service [service]="servicesSections.serviceBolsa"></app-service>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <app-service [service]="servicesSections.serviceCorreo"></app-service>
        </div>
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-header">
          Eventos y Noticias
      </div>
      <div class="card-body">
    
      </div>
    </div>

  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <small class="text-muted">Lunes, 6 de setiembre 2021</small>
      </div>
      <div class="card-body">
        <h5 class="card-title">Realidad Nacional</h5>
        <p class="card-text">SECCIÓN 22F-TEO</p>
        <p class="card-text">18:10 - 19:45 hrs</p>        
      </div>
      <div class="card-body">
        <h5 class="card-title">Realidad Nacional</h5>
        <p class="card-text">SECCIÓN 22F-TEO</p>
        <p class="card-text">18:10 - 19:45 hrs</p>
      </div>
      <div class="card-body">

      </div>
      <div class="card-footer text-center">
        <a href="http://">Ver Horario</a>
      </div>
    </div>

      <div class="card mt-4">
        <div class="card-body">
          <app-service [service]="servicesSections.serviceTutoriales"></app-service>
        </div>
      </div>

  </div>
</div>