<header>
  <nav class="navbar navbar-dark2 sticky-top bg-dark2 flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
      <img src="https://www.cientifica.edu.pe/themes/custom/ucsur/logo.png" alt="">
    </a>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="#">
          <fa-icon [icon]="['fas','user-circle']" style="font-size: 32px; color:#fff;"></fa-icon>
        </a>
      </li>
    </ul>
  </nav>
</header>