<ul class="nav flex-column">
  <app-menuitem 
          *ngFor="let menuitem of menuitems" 
        [menuitem]="menuitem">

  </app-menuitem>
</ul>


<!--   <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="#">
        <fa-icon [icon]="['fas','home']"></fa-icon>
        Inicio <span class="sr-only">(current)</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <fa-icon [icon]="['fas','calendar']"></fa-icon>
        Horario
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <fa-icon [icon]="['fas','dollar-sign']"></fa-icon>
        Mis pagos
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <fa-icon [icon]="['fas','graduation-cap']"></fa-icon>
        Record Académico
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <fa-icon [icon]="['fas','folder-open']"></fa-icon>
        Historial de cursos
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <fa-icon [icon]="['fas','file']"></fa-icon>
        Documentos Académicos
      </a>
    </li>
  </ul>
   -->